div.portada{
	cursor: pointer;	
}

h3.error{
	background:#ff5b5be0;
	border:solid 1px #ff5b5b;
	text-align:center;
	padding: 25px 0;
	border-radius:10px;
	margin:15px 0;
	box-shadow: inset 0px 0px 18px 1px #af1515;
}